<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css.css'" />
  </head>
  <body>
    <header class="">
      <div class="droplistdiv">
        <button class="dropbutton">
          <img src="hamburger-menu.svg" alt="" />
        </button>
      </div>
      <div class="searchdiv">
        <input type="text" placeholder="Search" class="inputsearch" />
        <button><img src="search.svg" alt="searchimg" /></button>
      </div>
      <div class="logindiv">
        <button class="nightbutton">
          <div class="night">
            <img src="night.jpg" class="nighty" />
          </div>
        </button>

        <div class="login">
          <button>logout</button>
        </div>
      </div>
    </header>
    <main>
      <h1>welcome to our homepage!</h1>
    </main>
    <div></div>
  </body>
</html>
